
body {
    background-color: black;
    color: white;
    text-align: center;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    border: none;
}

button {
    background-color: #884590;
    color: white;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: x-large;
    cursor: pointer;
}

video {
    max-width: 100%;
    max-height: 100%;
}

.stop {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
}

.center {
    margin: auto;
    min-width: 50%;
    min-height: 50%;
    display: block;
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    max-height: 100%;
}